*{
	box-sizing: border-box;
}
html, body{
height: 100%;
margin: 0;
}
body{
	font-family:  “Lucida Sans Unicode”, “Lucida Grande”, sans-serif;
	background: #3399cc;
	border: 10px solid #2b81ac;
	color: #fff; 
	}

.container{
	width: 60%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

ul{
	min-width: 382px;
	padding: 0;
	background: #fff;
	width: 100%;
	min-width: 382px;
	border: 2px solid #fff;
	font-size: 0;
	padding: 0;
}
ul li{
	display: inline-block;
	border: 2px solid #fff;
	font-size:20px;
	text-align: center;
	transition: opacity .5 ease-in; 
}
p{
	margin: 10px;
}
span{
		opacity: .8;
}
.middle{
width: 50%;	
padding: 20px;
}
.quarter{
width: 25%;
padding: 20px;
}
.whole{
width: 100%;
padding: 20px;
}
.blue{
	background: #3399cc;
}
.turquoise{
	background: #33cccc;
}
.lilac{
	background: #996699;
}
.red{
	background: #c24747;
}
.orange{
	background: #e2674a;
}
.yellow{
	background: #ffcc66;
}
.limegreen{
	background: #99cc99;
}
.indigo{
	background: #669999;
}
.pink{
	background: #cc6699;
}
.green{
	background: #339966;
}
.violet{
	background: #666699;
}
footer{
	margin: 30px 0 30px 0;
}
ul:hover li:not(:hover){
	opacity: .8;
}
 
